
<div class="container">
    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <label>Shyam Vandan Mishra</label>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">NEPTUN CODE</label>
      </div>
      <div class="col-75">
        <label>E5DZK1</label>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">EMAIL ID</label>
      </div>
      <div class="col-75">
        <label>vshyam098@gmail.com</label>
      </div>
    </div>
</div>